
.container-image {
    position: relative;
    text-align: center;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #22223B;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}


.container-text {
    display: block;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;

}
.hamburger-menu, .bar{
    display: none;
}
main {
    padding: 20px;
    flex-grow: 1;
    width: 90%;
    margin: auto;
    background-color: #4A4E69;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #4A4E69;
}
article, form{
    background-color: #F2E9E4;
}

footer {
    background-color: #22223B;
    color: #F2E9E4;
    text-align: center;
    padding: 10px;
}
ul.footer-menu {
    list-style-type: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #C9ADA7 ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4A4E69;
}



@media (max-width: 768px) {


    .article{
        display: grid;
        grid-auto-columns: auto;
        text-align: center;
    }

    .main{
        padding: 20px;
        flex-grow: 1;
        width: 90%;
        margin: auto;
        background-color: #4A4E69;
    }
    nav{
        display: none;
    }
    nav.active {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
    ul.footer-menu {
        display: none;
    }
    .hamburger-menu,
    .bar {
        display: block;
    }

    .hamburger-menu {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }



}